<launch>
    <!-- tf satic -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 100" />
    <node pkg="tf" type="static_transform_publisher" name="baselink_to_navsat" args="0 0 0 0 0 0 base_link navsat 100" />

    <!--/nmea_sentence(nmea_msgs/Sentence) convert to  /fix(sensor_msgs/NavSatFix)-->
    <node pkg="nmea_navsat_driver" type="nmea_topic_driver" name="nmea_topic_driver" output="screen"/>

    <!--/fix(sensor_msgs/NavSatFix) convert to /gps_path(nav_msgs/Path)-->
    <node pkg="gnss_imu_odom_ESKF" name="gps_trajectory_plotter" type="gps_trajectory_plotter" output="screen"/>

    <!--csv gnss publish-->
    <node pkg="gnss_imu_odom_ESKF" name="gnss_publish_rawData" type="gnss_publish_rawData.py" output="screen"/>

    <!--save gnss data to csv-->
    <node pkg="gnss_imu_odom_ESKF" name="save_gnss_path" type="save_gnss_path.py" output="screen"/>

    <!--display rviz-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gnss_imu_odom_ESKF)/rviz/gps_trajectory_plotter.rviz" required="true"/>
</launch>